body{
    margin: 0;
}

.title-bar{
    height: 3em;
    background-color: darkgray;
    margin: 0;
    display: block;
    span{
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5em;
    }
}

.main-grid{
    height: calc(100vh - 3em);
    background-color: green;
}