.table-wrapper{
    height: 100%
}

.tile-table{
    height: 100%;

    .ui-table-scrollable-wrapper{
        height: 100%;

        div:not([class]){
            height: 100%;
        }

        .ui-table-scrollable-body {
            max-height: calc(100% - 2em) !important;
        }
    }
}

